* {
  color: black;
  font-size: 16px;
  font-family: sans-serif;
}

html, body {
  background: white;
  /* background: #23272a; */
  padding: 0;
  margin: 0;
}

nav h1 {
  color: white;
  margin: 0;
  /* padding: 1em; */
}

h2 {
  margin-top: 1em;
}

.sandwich-container {
  width: 80%;
  margin: auto auto 5em auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}

td {
  padding: 1em;
  border-bottom: .1em solid #ddd;
  border: .1px solid black;
  /* border: .1em solid white; */
}

input, option, button {
  color:black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
  background-color: #1DB954;
}

nav li {
  float: left;
  text-align: center;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  transition: all ease-in-out .1s;
}
nav li p, nav li form {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}
nav li form input {
  padding-left: 5px;
  color: black;
}
nav li h1:first-of-type {
  padding: 15px 10px;
  font-size: 2em;
}
nav li p:first-of-type {
  font-family: cursive;
  padding: 20px 16px;
  margin: 0;
}
.title {
  padding: 0 16px;
  /* overflow: hidden;
  transition: all ease-in-out 1s; */
}
.title:hover {
  background: #1DB954;
  /* width: 101%; */
}

nav a:hover {
  background: grey;
}
/* nav > a {
padding:.5em;
text-decoration: none;
} */
/* nav > h2 {
display: inline-block;
} */
/* header {
text-align: center;
padding: 30px;
}
main {
background-size: cover;

height: 100vh;
}
nav {
background: #1DB954;
vertical-align:middle;
text-align: center;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
} */
}
