.title:hover {
  background: #1DB954;
}

header {
  background-color: green;
  height: 3em;
  line-height: 3em;
  display: inline-block;
  width: 100%;
  align-items: center;
}

header div {
  line-height: 3em;
}

header a {
  text-decoration: none;
}

header a:hover {
  cursor: pointer;
}

#header-left, #header-right {

}

#header-left {
  float: left;
  padding-left: 1em;
}

#header-left * {
  padding-left: 0.5em;
}

#header-right {
  float: right;
  padding-right: 1em;
}

#header-right * {
  padding-right: 0.5em;
}

#logo img {
  width: 2.5em;
  padding-left: 0;
  padding-right: 0.25em;
  object-fit: cover;
  padding-top: 1em;
}

header form, header p {
  display: inline;
}

header img {
  /* padding: 1em 0; */
}






