{% extends "home.html" %}
{% block title %}All Sandwiches{% endblock title %}
{% block content %}

<h1>Sandwich Detail</h1>
<table class="sandwich">
  <tr><td>ID:</td>        <td>{{ sandwich.id }}</td></tr>
  <tr><td>Name:</td>      <td>{{ sandwich.name }}</td></tr>
  <tr><td>Bread:</td>     <td>{{ sandwich.bread }}</td></tr>
  <tr><td>Base:</td>      <td>{{ sandwich.base }}</td></tr>
  <tr><td>Cheese:</td>    <td>{{ sandwich.cheese }}</td></tr>
  <tr><td>Vegetable:</td> <td>{{ sandwich.vegetable }}</td></tr>
  <tr><td>Condiment:</td> <td>{{ sandwich.condiment }}</td></tr>
  <tr><td>Price:</td>     <td>{{ sandwich.price }}</td></tr>
  <tr><td>Upvotes:</td>   <td>{{ sandwich.upvotes }}</td></tr>
  <tr><td>Downvotes:</td> <td>{{ sandwich.downvotes }}</td></tr>
</table>
<p><a href="../show">Back to sandwich list</a></p>
{% endblock content %}
