{% extends "base.html" %}
{% block content %}
<!-- <link rel="stylesheet" href="/static/sandwich_list.css"> -->


<div class="sandwich-container">
  <h2>All Sandwiches</h2>
  <table>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Ingredients</td>
      <td>Published Date</td>
      <td>Price</td>
    </tr>
      {% for sandwich in all_sandwiches %}
      <tr>
      <td><a href="show/{{ sandwich.id }}">{{ sandwich.id }}</a></td>
      <td>{{ sandwich.name }}</td>
      <td>
        {% for ingredient in sandwich.ingredients.all %}
        <!-- <img src="http://localhost:8000/{{ ingredient.img_small }}" alt=""> -->

        {{ ingredient.name }},
        {% endfor %}
      </td>
      <td>{{ sandwich.pub_date }}</td>
      <td>{{ sandwich.price }}€</td>
      <tr>
      {% endfor %}
  </table>
  <a href="../">Back</a>
</div>


{% endblock content %}
