{% extends "home.html" %}
{% block title %}All Sandwiches{% endblock title %}
{% block content %}

<h1>All Sandwiches</h1>
<table>
    <tr class="sandwich_header">
        <th>ID</th>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Published</th>
        <th>Price</th>
    </tr>

    {% for sandwich in all_sandwiches %}
    <tr class="sandwich_row">
        <td><a href="show/{{ sandwich.id }}">{{ sandwich.id }}</a></td>
        <td>{{ sandwich.name }}</td>
        <td>
          {% for ingredient in all_ingredients %}
            {{ ingredient.name }},
          {% endfor %}
        </td>
        <td>{{ sandwich.pub_date }}</td>
        <td>{{ sandwich.price }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
