@import '../1-abstracts/variables';
@import '../1-abstracts/mixins';

.login{
    form{
        width:100%;
        input{
            width:90%;
            margin: 2.5% 0 2.5% 0;
            padding:14px 16px;
        }
        .uname{
            label{
                display:none;
            }
            #id_username{
               @include bgImage;
               border: 2px solid $green;
            }
        }
        .pw{
            label{
                display:none;
            }
            #id_password{
              @include bgImage;
              border: 2px solid $red;
            }
        }
    }
}