@import '../1-abstracts/variables';

.login{
    margin:auto;
    width:60%;
    padding-left:4%;
    img{

    }
    form{
        .uname{
            label{
                display:none;
            }
            #id_username{
                border: 2px solid $green;
                border-radius:3%;
            }
            img{

            }
        }
        .pw{
            label{
                display:none;
            }
            #id_password{
                border:2px solid $red;
                border-radius: 3%;
            }
        }
        .buttons{
            
        }
    }
}