.login{
    margin:auto;
    width:60%;
    padding-left:4%;
    img{
        .uname{
            label{

            }
            #id_username{

            }
            img{

            }
        }
        .pw{
            label{

            }
            #id_password{

            }
            img{

            }
        }
        .buttons{
            
        }
    }
}