.create label { /* TODO: do not create this in django */
  display: none;
}

.create {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 100vh;
}

.create select {
  /* height: calc(100vh); */
  width: 100%;
}

.create select option {
  font-weight: bold;
}

.create select option:nth-child(even) {
  background-color: #e0e0e0;
}