/*reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*typography*/
.login form input {
  font-size: 1.5em;
}

/*buttons*/
.login form .buttons #submit_login {
  color: white;
  width: 45%;
  text-align: center;
  font-size: 1.5em;
  padding: 14px 16px;
  border-radius: 3%;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background: green;
}

.login form .buttons #submit_login:hover {
  background: #004d00;
}

.login form .buttons #submit_signup {
  color: white;
  width: 45%;
  text-align: center;
  font-size: 1.5em;
  padding: 14px 16px;
  border-radius: 3%;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background: green;
}

.login form .buttons #submit_signup:hover {
  background: #004d00;
}

/*forms*/
.login form {
  width: 100%;
}

.login form input {
  width: 90%;
  margin: 2.5% 0 2.5% 0;
  padding: 14px 16px;
}

.login form .uname label {
  display: none;
}

.login form .uname #id_username {
  width: 50%;
  position: absolute;
  border-radius: 3%;
  border: 2px solid green;
}

.login form .pw label {
  display: none;
}

.login form .pw #id_password {
  width: 50%;
  position: absolute;
  border-radius: 3%;
  border: 2px solid red;
}

/*login*/
.login {
  margin: auto;
  width: 60%;
  padding-left: 4%;
}

/*create*/
.create-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.create-wrapper h1, .create-wrapper input[type="text"], .create-wrapper select, .create-wrapper label, .create-wrapper button {
  margin: 5%;
}

.create-wrapper .create {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 100vh;
  border-right: 1px solid white;
}

.create-wrapper .create input, .create-wrapper .create option {
  color: black;
}

.create-wrapper .create input[type="text"], .create-wrapper .create select {
  width: 90%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-wrapper .create #save {
  color: white;
  width: 45%;
  text-align: center;
  font-size: 1.5em;
  padding: 14px 16px;
  border-radius: 3%;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background: green;
  width: 40%;
  margin-top: 20%;
  float: left;
}

.create-wrapper .create #save:hover {
  background: #004d00;
}

.create-wrapper .create #cancel {
  color: white;
  width: 45%;
  text-align: center;
  font-size: 1.5em;
  padding: 14px 16px;
  border-radius: 3%;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background: green;
  width: 40%;
  margin-top: 20%;
  float: right;
}

.create-wrapper .create #cancel:hover {
  background: #004d00;
}

.create-wrapper .create #cancel a {
  text-decoration: none;
  font-size: 1em;
}

.create-wrapper .create #id_price {
  margin-bottom: 5%;
}

.create-wrapper .preview {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 100vh;
  border-right: 1px solid white;
}

.create-wrapper .final {
  -ms-grid-column: 3;
  grid-column: 3/3;
  -ms-grid-row: 1;
  grid-row: 1;
}
/*# sourceMappingURL=main.css.map */