* {
  margin: 0;
  padding: 0;
  /* -webkit-box-sizing: border-box; */
}

.create-wrapper {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%; */
  box-sizing: border-box;
  text-align: center;

}

/* Clear floats after the columns */
.create-wrapper:after {
  content: "";
  display: table;
  clear: both;
}


/* INIT */
