<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/home.css">

<div id="main-container">
  <div class="img-container all-sandwiches">
    <a href="/mysandwich/show">
      <img src="/static/images/sandwich.jpg">
      <h3>Browse Sandwiches</h3>
    </a>
  </div>
  <div class="img-container create-sandwich">
    <a href="/mysandwich">
      <img href="/mysandwich" src="/static/images/bread.jpg">
      <h3>Create Sandwich</h3>
    </a>
  </div>
  <div class="img-container ingredients">
    <!-- <a href="{% url 'logout' %}"> -->
      <img src="/static/images/appetizer.jpg">
      <h3>Our Ingredients</h3>
    <!-- </a> -->
  </div>
</div>


{% endblock %}
