<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/style.css">

<header>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="sandwiches/add">Create new sandwich!</a></p>
  <p><a href="sandwiches/show">View sandwiches</a></p>
  <p><a href="{% url 'logout' %}">logout</a></p>
  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  {% endif %}
</header>

<div id="main-container">

  <div id="sandwich">
    <p>sandwich preview</p>
    <div class="content">

    </div>
  </div>

  <div id="controls">
    <div class="column">
      <p>ingredients overview</p>
      <div class="content">

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit">Save</button>
        </form>

      </div>
    </div>
    <div class="column">
      <p>sandwich library</p>
      <div class="content">

        <table>
            <tr class="sandwich_header">
                <th>ID</th>
                <th>Name</th>
                <th>Bread</th>
                <th>Base</th>
                <th>Cheese</th>
                <th>Vegetable</th>
                <th>Condiment</th>
                <th>Price</th>
                <th>Upvotes</th>
                <th>Downvotes</th>
            </tr>

            {% for sandwich in all_sandwiches %}
            <tr class="sandwich_row">
                <td><a href="show/{{ sandwich.id }}">{{ sandwich.id }}</a></td>
                <td>{{ sandwich.name }}</td>
                <td>{{ sandwich.bread }}</td>
                <td>{{ sandwich.base }}</td>
                <td>{{ sandwich.cheese }}</td>
                <td>{{ sandwich.vegetable}}</td>
                <td>{{ sandwich.condiment}}</td>
                <td>{{ sandwich.price}}</td>
                <td>{{ sandwich.upvotes}}</td>
                <td>{{ sandwich.downvotes}}</td>
            </tr>
            {% endfor %}
        </table>

      </div>
    </div>
  </div>
</div>


{% endblock %}